body {
  background-color: #CAF0F8;
}

hr {
  border-style: inset;
  border-width: 2px;
  border-color: #006E84;
  width: 50%;
}

h1, h2, a {
  color: #006E84;
}

a:hover {
  color: #002830;
}
